@import "tailwindcss";

@theme {
  /* Icon */

  /* Primary */
  --color-icon: var(--color-gray-900);
  --color-icon-hover: var(--color-gray-800);
  --color-icon-inverse: var(--color-white);
  --color-icon-inverse-hover: var(--color-gray-100);
  /* Support */
  --color-icon-support: var(--color-gray-500);
  --color-icon-support-hover: var(--color-gray-400);
  /* Detail */
  --color-icon-detail: var(--color-gray-400);
  --color-icon-detail-hover: var(--color-gray-300);

  /*# Basics */

  /*## Size */

  /* Add your sizes into this section, e.g.:

      --text-base: var(--vscode-font-size);
  */

  /*## Text */

  /*### Color */

  /***** Primary */
  --color-ink: var(--color-gray-950);
  --color-ink-inverse: var(--color-white);
  /***** Support */
  --color-ink-support: var(--color-gray-600);
  --color-ink-support-inverse: var(--color-gray-400);
  /***** Detail */
  --color-ink-detail: var(--color-gray-500);
  --color-ink-detail-inverse: var(--color-gray-500);

  /*## Background */

  --color-canvas: var(--color-gray-100);
  /* TODO: Figure out these colors used in Block and other new components (?) */
  /* --color-canvas-secondary: var(--color-gray-200);
  --color-canvas-context: var(--color-gray-300); */

  /* --color-canvas:  */

  /*## Border */

  /*## Divider */

  --color-divider: var(--color-gray-300);

  /*# Components */

  /*## Button */

  /*### Size */

  --radius-button-xsmall: var(--radius-md);
  --radius-button-small: var(--radius-md);
  --radius-button-medium: var(--radius-lg);
  --radius-button-large: var(--radius-lg);
  --radius-button-xlarge: var(--radius-lg);

  /*### Style */

  /***** Solid */
  --color-button-solid-canvas: var(--color-gray-500);
  --color-button-solid-canvas-hover: var(--color-gray-400);
  --color-button-solid-ink: var(--color-white);
  --color-button-solid-ink-hover: var(--color-white);

  /***** Label */
  --color-button-label-ink: var(--color-gray-700);
  --color-button-label-ink-hover: var(--color-gray-950);
  /*----- Secondary */
  --color-button-secondary-label-ink: var(--color-gray-500);
  --color-button-secondary-label-ink-hover: var(--color-gray-950);

  /***** Transparent */
  --color-button-transparent-ink: var(--color-button-label-ink);
  --color-button-transparent-ink-hover: var(--color-button-label-ink-hover);
  --color-button-transparent-canvas: transparent;
  --color-button-transparent-canvas-hover: var(--color-gray-50);
  --color-button-transparent-border: var(--color-gray-300);
  --color-button-transparent-border-hover: var(--color-gray-400);
  /*----- Secondary */
  --color-button-transparent-ink: var(--color-button-secondary-label-ink);
  --color-button-transparent-ink-hover: var(
    --color-button-secondary-label-ink-hover
  );
  --color-button-transparent-secondary-ink: var(--color-gray-500);
  --color-button-transparent-secondary-ink-hover: var(--color-gray-500);
  --color-button-transparent-secondary-canvas: transparent;
  --color-button-transparent-secondary-canvas-hover: var(--color-gray-50);
  --color-button-transparent-secondary-border: var(--color-gray-300);
  --color-button-transparent-secondary-border-hover: var(--color-gray-400);

  /* Input */

  /* Radius */
  --radius-input: var(--radius-lg);
  --radius-input-sm: var(--radius-md);
  /* Shadow */
  --shadow-input: var(--shadow-xs);
  /* Colors */
  --color-input-canvas: var(--color-white);
  --color-input-ink: var(--color-gray-900);
  --color-input-placeholder: var(--color-gray-400);
  --color-input-border: var(--color-gray-300);

  /* Menu */

  /* Radius */
  --radius-menu: var(--radius-lg);
  /* Shadow */
  --shadow-menu: var(--shadow-md);
  /* Border */
  --color-menu-canvas: var(--color-white);
  --color-menu-border: var(--color-gray-200);

  /* Option */

  /* Radius */
  --radius-option: var(--radius-md);
  /* Shadow */
  --shadow-option: var(--shadow-md);
  /* Colors */
  --color-option-canvas: var(--color-white);
  --color-option-canvas-hover: var(--color-gray-100);
  --color-option-canvas-selected: var(--color-indigo-50);
  --color-option-ink: var(--color-gray-900);
  --color-option-ink-selected: var(--color-indigo-900);

  /*## Tag */

  /*### color */

  /*----- default */
  --color-tag-ink: var(--color-gray-200);
  --color-tag-canvas: var(--color-gray-600);
  /*----- secondary */
  --color-tag-secondary-ink: var(--color-gray-300);
  --color-tag-secondary-canvas: var(--color-gray-700);
  /*----- error */
  --color-tag-error-ink: color-mix(
    in srgb,
    var(--color-red-900) 80%,
    var(--color-tag-error-canvas) 100%
  );
  --color-tag-error-canvas: var(--color-red-100);
  /*----- warning */
  --color-tag-warning-ink: color-mix(
    in srgb,
    var(--color-orange-900) 80%,
    var(--color-tag-warning-canvas) 100%
  );
  --color-tag-warning-canvas: var(--color-orange-100);

  /*## Tab */

  --border-tab: 2px;
  --color-tab-ink: var(--color-gray-700);
  --color-tab-ink-hover: var(--color-tab-active-ink);
  --color-tab-border: transparent;
  /*---- Active */
  --color-tab-active-ink: var(--color-gray-600);
  --color-tab-active-border: var(--color-gray-500);

  /*## Errors */

  /*### style */

  /*----- label */
  --color-errors-ink: var(--color-red-600);
}
