.fa-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.fa-icon svg {
  height: 100%;
}

.fa-icon svg path {
  fill: currentColor;
}

.fa-primary {
  fill: currentColor;
}

.fa-secondary {
  fill: currentColor;
  opacity: 0.8;
}
